@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --white: #ffffff;
  --blue: #1e90ff;
  --mainColor: rgb(154, 205, 50);
  --mainColorOpacity30: rgb(154, 205, 50, 0.3);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
}
.flexCenter {
  @apply flex items-center justify-center;
}
