@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9;
  --drawBgk: #ffffff;
  --text-color: #1f1f1f;
  --exercises-card-bg: #ffff;
  --white: #f0f6fc;
  --blue: #1e90ff;
  --mainColor: #39d353;
  --mainColorOpacity30: #9acd324d;
  --mainColorOpacity60: rgba(154, 205, 50, 0.6);
  --input-bgk: #f3f4f680;
  --input-error: rgb(248 113 113);
  --input-border: rgb(229 231 235);
  --black-10: rgb(0, 0, 0, 0.1);
  --black-80: rgb(0, 0, 0, 0.8);
}
.dark:root {
  --background: #3e3e3f;
  --drawBgk: #575758;
  --mainColor: #39d353;
  --text-color: #f0f6fc;
  --blue: #60a7ee;
  --input-bgk: #dddee027;
  --input-error: rgb(248 113 113);
  --input-border: rgb(229 231 235);
  --black: rgb(0, 0, 0);
  --black-10: rgb(0, 0, 0, 0.1);
  --black-80: rgb(0, 0, 0, 0.8);
}
* {
  margin: 0;
  padding: 0;
}

.flexCenter {
  @apply flex items-center justify-center;
}
